/Frey/bin
/Frey/obj

/Libs

/_Resharper.Automata

/Automata.Dashboard/obj
/Automata.Dashboard/bin

/Automata.Tests/obj
/Automata.Tests/bin

/Algorithms/packages

*.user
*.suo

_ReSharper*
/Trading/Trading.Portal/bin/x86/Debug
/Trading/Trading.Portal/obj/x86/Debug
/Trading/Trading.SecurityResearch/bin/x86/Debug
/Trading/Trading.SecurityResearch/obj/x86/Debug
/Trading/Trading.TradeWatch/bin/x86/Debug
/Trading/Trading.TradeWatch/obj/x86/Debug
