<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <section name="Databases" type="Maintenance.Common.ApplicationSettings.DatabaseSection, Maintenance.Common" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.6.0" newVersion="2.6.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.6.0" newVersion="2.6.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Portfolios.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date][%-5level][%logger] %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <Databases>
    <DefaultDatabaseEnvironments>
      <Default System="IMAP" Environment="DEV" />
    </DefaultDatabaseEnvironments>
    <DatabaseEnvironments>
      <Database System="IMAP" Environment="DEV" EncryptedConnection="08KPwRMDKQRHVJYlArwGuVBbZPNYgQfEBaISn48xZ1KVoeh84/BAKjQ+l60ZijEpzaIb/rVBF/wYxJAKT0ufE5lD+KSE/HZx0zU/1yknUEm95Y1tymNXGnVwDY6JqjxY+HavneSFdEfsdVD6Aqh/N8IDhxNnNjyQpyVYSDd/2HuplF1KvedfPyJVDmThWrcohWH0G1NxJ0L/UcUIjcH09n+zYxKQFckUPLMji6DVnlpw6dMKF3PE+T58Pb2+HbzT2TdshcdJYL9NndSi+7VGILNOwHYPAyFsNKLNU3yYCLM=" />
      <Database System="IMAP" Environment="QA" EncryptedConnection="08KPwRMDKQRHVJYlArwGuVBbZPNYgQfEBaISn48xZ1KVoeh84/BAKjQ+l60ZijEpqrJLZmA2jez8ZzRrxfWqLtolIZ259AHOkwzDdfhK6XxtjUbtETwkOsjrbRu0OWf4KCK1lYHGM9jFQvqAHpL1waibKJnuGUvd876EROkkBmvrviFwiuoBGpgOybHtwwppJz74iif5g9+3v4voRAUONM+Fa0uFJH1/Jaeijw4KD83uBoB3sT3l6rcJhKx0QSCgjdMlLtCP0C80xjx0Y9TQQptlD8BQDpldjVJOmF2c64k=" />
      <Database System="IMAP" Environment="SIT" EncryptedConnection="08KPwRMDKQRHVJYlArwGuVBbZPNYgQfEBaISn48xZ1KVoeh84/BAKjQ+l60ZijEpzaIb/rVBF/wYxJAKT0ufEwuN7QtUR5vIqElnZF/B+sb7k27NGNWhwrTgOz9dUtVHWAlhrZFSrY4J062CnblMy/OU46TscKTRfVvr3fOVGLzAWGWm2z7nIUT/cZKhn0PDKztPBr68NgmN9uHbmXtPFcvbTAQRHwX5VaAYyVTI5oPctVsucPt5GxTrW9WDQoFLvfjxNccEEFAZAQ6rCs2jPTi/3zjsou+hvM4bBxm8hzk=" />
    </DatabaseEnvironments>
  </Databases>
</configuration>
